*{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;text-rendering:optimizeLegibility}::-moz-selection{background:blue;color:#fff}::selection{background:blue;color:#fff}body{font-size:16px;margin:auto;padding:30px;text-align:center;color:blue;background-color:#fff}@media (max-width:600px){body{padding:15px}}a{font-weight:bold;text-decoration:underline;color:blue}.intro{font-size:1.1em;color:#fff;padding:3px;padding-left:6px;padding-right:6px;background-color:yellow;width:auto;display:inline-block}.glitch{font-size:15rem;position:relative;width:400px;max-width:600px;margin:auto;margin-top:2.5rem;color:blue}@media (max-width:600px){.glitch{width:300px;font-size:11rem}}p{text-align:center}p.med{font-size:3em;margin-top:0}@media (max-width:600px){p.med{font-size:2em}}p.top{font-size:2em;margin-top:50px;color:#967931}@media (max-width:600px){p.top{font-size:1.4em}}.example{max-width:600px;margin-right:auto;margin-left:auto;padding:15px;text-align:left}.example h2{font-size:1.7em;margin-bottom:4em;margin-top:2em;padding-left:20px;-webkit-hyphens:auto;-ms-hyphens:auto;hyphens:auto;border-left:4px solid blue}.example h2 a{color:blue;font-size:13px;vertical-align:super}@media (max-width:600px){.example h2{-webkit-hyphens:none;-ms-hyphens:none;hyphens:none;font-size:1.4em}}.example img{width:100%}.footer{font-size:.7em;max-width:320px;margin-top:9rem;margin-right:auto;margin-left:auto}.footer pre{display:inline;padding:1px;padding-right:3px;padding-left:3px;color:#fff;background-color:#303030}.footer .twitter-share-button{margin-top:1em}body{font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";}

body{
    background-color: floralwhite;
    background-color: hsla(355, 0%, 100%, 1);
    background-image: radial-gradient(at 66% 67%, hsla(240, 100%, 97%, 1) 0px, transparent 50%), radial-gradient(at 20% 35%, hsla(53, 100%, 96%, 1) 0px, transparent 50%), radial-gradient(at 12% 50%, hsla(30, 100%, 95%, 1) 0px, transparent 50%);
    background-size: cover;
    background-attachment: fixed;
}
img{
    border-radius: 8px;
    background-color: #fff;
    padding: 24px 12px 24px 12px;
    /* Perfect Shadow */
    box-shadow: 0px 0px 0px 1px rgba(0, 64, 131, 0.04), 0px 1px 1px -0.5px rgba(40, 51, 71, 0.04), 0px 3px 3px -1.5px rgba(40, 51, 71, 0.04), 0px 6px 6px -3px rgba(40, 51, 71, 0.04), 0px 12px 12px -6px rgba(0, 64, 131, 0.04), 0px 24px 24px -12px rgba(0, 64, 131, 0.04);
    box-shadow: 0px 0px 0px 1px color(display-p3 0.0549 0.2471 0.4941 / 0.04), 0px 1px 1px -0.5px color(display-p3 0.1647 0.2 0.2706 / 0.04), 0px 3px 3px -1.5px color(display-p3 0.1647 0.2 0.2706 / 0.04), 0px 6px 6px -3px color(display-p3 0.1647 0.2 0.2706 / 0.04), 0px 12px 12px -6px color(display-p3 0.0549 0.2471 0.4941 / 0.04), 0px 24px 24px -12px color(display-p3 0.0549 0.2471 0.4941 / 0.04);
}
h1, h2{
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
}
.small, h2{
    font-weight: 100;
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: #001530;
        background-image: none;
        color: white;
    }
    h1, h2, a{
        color: white !important;
    }
}