/*! shouldijustify - rober.design */
$font-color: #333;
$font-type: 'Playfair Display', serif;

* {
    box-sizing: border-box;

    transition: all .4s;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
body {
    font-family: $font-type;
    font-size: 16px;

    margin: auto;
    padding: 30px;

    text-align: center;

    color: $font-color;
    //background-image: url('back.png');
}
.no {
    max-width: 600px;
    margin: auto;
    h1 {
        font-size: 15rem;

        margin: auto;
        @media(max-width: 600px) {
            font-size: 9rem;
        }
    }
}
p {
    text-align: center;
    &.med {
        font-size: 3em;

        margin-top: 0;
        @media(max-width: 600px) {
            font-size: 2em;
        }
    }
}
