/*! shouldijustify - rober.design */
$font-color: #303030;
$secondary-color: #967931;
$font-type: 'Special Elite', monospace;

* {
    box-sizing: border-box;

    transition: all .4s;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
::selection {
    background: blue;
    color: #fff;
}
body {
    font-family: $font-type;
    font-size: 16px;

    margin: auto;
    padding: 30px;

    text-align: center;

    color: $font-color;
	background-color: #fff;
    //background-image: url('back.png');
}
a {
    font-weight: bold;

    text-decoration: underline;

    color: $font-color;
}
.glitch {
    max-width: 600px;
    margin: auto;
	margin-top: 100px;
    h1 {
        font-size: 15rem;

        margin: auto;
		position: relative;
		text-shadow: 2px 2px 0px #fff, 4px 4px 0px #333,6px 6px 0px #fff,8px 8px 0px #333,10px 10px 0px #fff, 12px 12px 0px #333;
        @media(max-width: 600px) {
            font-size: 9rem;
        }
    }

}
@keyframes blink {
0%, 49% {
    background-color: red;
}
50%, 100% {
    background-color: blue;
}
}
p {
    text-align: center;
    &.med {
        font-size: 3em;

        margin-top: 0;
        @media(max-width: 600px) {
            font-size: 2em;
        }
    }
    &.top {
        font-size: 2em;

        margin-top: 50px;

        color: $secondary-color;
        @media(max-width: 600px) {
            font-size: 1.4em;
        }
    }
}

.footer {
    font-size: .7em;

    margin-top: 9rem;

    // opacity: .5;
    // &:hover {
    //     opacity: 1;
    // }
    pre {
        display: inline;

        padding: 1px;
        padding-right: 3px;
        padding-left: 3px;

        color: #fff;
        background-color: $font-color;
		animation: blink 2s infinite;
    }
	.twitter-share-button{
		margin-top: 1em;
	}
}

.glitch {
    font-size: 15rem;

    position: relative;

    width: 400px;
	margin: auto;
	margin-top: 100px;

    color: $font-color;
}

@keyframes noise-anim{
	$steps:20;
		@for $i from 0 through $steps{
		#{percentage($i*(1/$steps))}{
			clip:rect(random(200)+px,9999px,random(200)+px,0);
		}
	}
}
.glitch:after {
    position: absolute;
    top: 0;
    left: 55px;

    overflow: hidden;
    clip: rect(0,300px,0,0);

    content: attr(data-text);
    animation: noise-anim 2s infinite linear alternate-reverse;

    color: $font-color;
    background: white;
    text-shadow: -1px 0 red;
}


@keyframes noise-anim-2{
	$steps:20;
		@for $i from 0 through $steps{
		#{percentage($i*(1/$steps))}{
			clip:rect(random(200)+px,9999px,random(200)+px,0);
		}
	}
}
.glitch:before {
    position: absolute;
    top: 0;
    left: 47px;

    overflow: hidden;
    clip: rect(0,300px,0,0);

    content: attr(data-text);
    animation: noise-anim-2 3s infinite linear alternate-reverse;

    color: $font-color;
    background: white;
    text-shadow: 1px 0 blue;
}
